:root {
    --color-background: #DBD3D3;
    --color-primary: #EC8305;
    --color-secondary: #024CAA;
    --color-text-primary: #091057;
    --color-text-secondary: #475785;
    --color-neutral: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    margin-bottom: 2rem;
}

.form-container {
    background-color: var(--color-neutral);
    padding: 2.3rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 0.3rem;
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--color-secondary);
    }
}

#atividade-form {
    display: none;
}

input,
select {
    padding: 0.8rem;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    font-size: 1rem;
    color: var(--color-text);
    transition: border-color 0.3s;

    &:focus {
        border-color: var(--color-primary);
        outline: none;
    }
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.2rem;
}

.strong-text {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-secondary);
}

.simple-text {
    display: inline-block;
    margin-right: 1rem;
    font-weight: normal;
    color: var(--color-text-secondary);
}

button[type="submit"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color: var(--color-neutral);
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;

    &:hover {
        background-color: var(--color-secondary);
    }
}

#aviso-atividade-fisica {
    display: none;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem 0;
}